/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.editor-container {
  flex: 1;
  overflow: hidden;
}

.terminal-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-top: 1px solid #444;
  color: #fff;
  overflow: hidden;
}

.terminal-header {
  padding: 10px;
  border-bottom: 1px solid #444;
  background-color: #333;
  font-weight: bold;
}

.terminal-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
  font-size: 14px;
} */
